DW+P3+-+Brief+creatif+-+Ohmyfood!.pdf
Oh my food - Textes.txt
maquettes/.DS_Store
maquettes/Accueil.png
maquettes/Menu - À la française.png
maquettes/Menu - La note enchantée.png
maquettes/Menu - La palette du goût.png
maquettes/Menu - Le délice des sens.png
maquettes/Animations/Animation - Page Menu - Apparition progressive.mp4
maquettes/Animations/Animation - Page Menu - Sélection d_un plat.mp4
