$color-first: #9356dc;
$color-second: #ff79da;


*{
    box-sizing: border-box;
}

body{

    background-color: black;
    opacity: 0;
    animation: 1000ms linear forwards normal reveal;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    color: black;
    min-width: 500px;
    border-radius: 25px;
}

p{
    padding: 5px 15px 0 70px ;
    margin: 0;
    font-family: shrikhand;
    font-size: 90px;
    min-width: 140px;
}

.o{
    background-image: black;
    position: absolute;
    left: 10px;
    animation: 1000ms linear forwards normal 1000ms gradient, 1000ms linear infinite normal 2000ms spinner;
}

@keyframes reveal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes gradient {
    0%{
        background-image: black;
    }
    100%{
        background-image: linear-gradient(to top right, $color-second, $color-first);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }