 $color-first: #9356dc;
$color-second: #ff79da;
$color-third: #99e2d0;
$color-fourth:#f7f7f7;
$color-fifth: darken($color-fourth, $amount: 40);
$color-border-box-shadow: darken($color-fourth, $amount: 20);
$color-box-shadow: darken($color-fourth, $amount: 10);

*{
    box-sizing: border-box;
    font-family: 'Roboto', 'shrikhand', sans-serif;
}


.container_spinner{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 1;
    animation: 500ms linear forwards normal 2300ms unreveal;
    z-index: 2;
}

.spinner{
    position: relative;
    top: 250px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    color: black;
    max-width: 355px;
    border-radius: 35px;

    &_ohmyfood{
    padding: 5px 15px 0 55px ;
    font-family: 'shrikhand';
    font-size: 60px;
    min-width: 100%;
    }
}

.o{
    background-image: black;
    font-family: 'shrikhand';
    position: absolute;
    left: 15px;
    animation: 500ms linear forwards normal 300ms gradient, 1000ms linear infinite normal 800ms spinner;
}

@keyframes unreveal {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

@keyframes gradient {
    0%{
        background-image: black;
    }
    100%{
        background-image: linear-gradient(to top right, $color-second, $color-first);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes spinner {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

body{
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin: auto;
}

header{
    min-width: 100%;
    box-shadow: $color-border-box-shadow 0px 2px 5px 0px;
    z-index: 1;

    a{
        display: flex;
        justify-content: center;
        margin: 25px 0px 10px 0px;
        text-decoration: none;
    }

    img{
        max-width: 44%;
    }
}

main{
    display: flex;
    flex-direction: column;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    &__location{
        width: 100%;
        height: 50px;
    }
    &--color{
        background-image: linear-gradient(to bottom right, $color-second, $color-first);
        color: white;
        width: 220px;
        height: 50px;
        padding: 0px;
        border-radius: 25px;
        font-weight: 500;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;
        &:hover{
            background-image: none;
            background-color: lighten($color: $color-second, $amount: 2);
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;;

        }
    }
    &_commander{
        margin: auto;
        width: 186px;

    }
}

.fa-location-dot{
    margin-right: 18px;
}

p{
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 290px;
    padding: 0px 50px 0px 40px;
    background-color: $color-fourth;
    text-align: center;

    h1{
        display: flex;
        font-weight: 700;
        font-size: x-large;
        margin: 40px 0px 20px 0px;
    }

    p{
        font-weight: 300;
        margin: 0px 0px 30px 0px;
    }

    a{
        text-decoration: none;
    }
}

aside{
    margin: 50px 20px 0px 20px;

    p{
        font-weight: 700;
        font-size: x-large;
        margin-bottom: 30px;
    }

    ol{
        padding-left: 10px;
        list-style-type: none;
    }

    li{
        display: flex;
        align-items: center; 
        background-color: $color-fourth;
        height: 75px;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;

        &:hover{
            background-color: lighten($color-first, $amount: 36);
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;;

            .fa-solid{
                color: $color-first;
            }
        }
    }
        
    .list_numbers{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-first;
        color: white;
        border-radius: 25px;
        width: 24px;
        height: 24px;
        margin: 0px 22px 0px -10px;
        padding-top: 4px;
        font-size: 14px;
        font-weight: 500;
    }


    .fa-solid{
        margin-right: 27px;
        font-size: 18px;
        color: $color-fifth;
    }
}

h2{
    padding: 50px 0px 0px 20px;
    margin-bottom: 28px;
    margin-top: 0px;
}

#restaurant{

    background-color: $color-fourth;
    margin-top: 50px;
    padding-bottom: 44px;

    a{
        display: flex;
        background-color: white;
        height: 250px;
        margin: 0px 20px 18px 20px;
        text-decoration: none;
        border-radius: 15px;
    }
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    box-shadow: $color-box-shadow 0px 4px 10px 2px;
    &:hover{
        box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;

    }

    &_new{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 11px;
        bottom: 202px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 2px;
        width: 80px;
        height: 30px;
        background-color: $color-third;
        color: darken($color-third, $amount: 40);
    }

    &_img{
        min-width: 100%;
        max-height: 70%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;

    }

    &_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: black;
        min-width: 100%;
        max-height: 30%;
    }

    &_restaurant{
        display: flex;
        width: 50%;
        margin-left: 14px;
        height: 25px;

        &-name{
            font-weight: 900;
            font-size: 18px;
            padding-top: 5px;
        }

        &-place{
            font-weight: 100;
            font-size: 17px;
        }
    }

    .fa-heart{
        position: relative;
        right: 25px;
        top: 8px;
        font-size: 25px;
        height: 25px;

        &:hover{
            background-image: linear-gradient(to top right, $color-second, $color-first);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            font-weight: 700;
            animation: 300ms ease-out forwards normal fill;            
        }

        @keyframes fill {
            from{
                height: 0px;
                opacity: 0;
            }
            to{
                height: 25px;
                opacity: 1;
            }
        }
    }
}

footer{
    background-color: #353535;

    ul{
        list-style-type: none;
        margin: 25px 0px 37px 0px;
        padding-left: 22px;
    }

    li{
        padding-bottom: 0.5em;

        &:nth-child(1){
            margin-bottom: 15px;

            a{
                color: white;
                font-family: 'shrikhand';
            }        
        }
    }

    a{
        text-decoration: none;
        color: white;
    }
}

.fa-utensils{
    font-size: 14px;
    margin-right: 10px;
}

.fa-handshake-angle{
    font-size: 12px;
    margin-right: 13px;
}



/* scss pages restau */

.entree{
    margin-bottom: 30px;
}

.plats{
    margin-bottom: 47px;
}

.dessert{
    margin-bottom: 47px;
}


.menu{
    box-shadow: none;

    .fa-arrow-left{
        position: absolute;
        left: 23px;
        color: black;
        font-size: 20px;
    }

    &_img{
        min-width: 100%;
    }

    &_complet{
        background-color: $color-fourth;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 35px 12px 65px 14px;
        margin-top: -36px;
    }

    &_restaurant{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        p{
            font-family: 'shrikhand';
            font-weight: 500;
            font-size: 29px;
            padding-left: 6px;
        }

        .fa-heart{
            font-size: 25px;
            height: 25px;
            margin-right: 20px;

    
            &:hover{
                background-image: linear-gradient(to top right, $color-second, $color-first);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                font-weight: 700;
                animation: 300ms ease-out forwards normal fill;            
            }
        }        
    }

    &_title{
        text-transform: uppercase;
        border-bottom: 3px solid $color-third;
        margin-left: 6px;
        margin-bottom: 14px;
        padding-bottom: 5px;
        width: 40px;
        
    }

    &_card{
        display: flex;
        background-color: white;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;
        animation: 1000ms ease-out forwards normal move;
        opacity: 0;

        &:hover{
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;
        }

        &:nth-child(3){
            animation-delay: 200ms;
        }

        &:nth-child(4){
            animation-delay: 400ms;
        }
    }

    &_contenu{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        border-radius: 15px;
        padding: 13px 24px 10px 11px;


        &:hover{
            margin-right: 0px;
            direction: ltr;     
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            > .menu_principal{
                direction: ltr;     
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & + .check{
                width: 60px;

                & > .fa-check{
                    transform: rotate(360deg);
                    animation: 500ms linear forwards normal appear;
                }
            }
        }
    }

    &_principal{
        min-width: 93%;
        max-width: 94%;
        font-weight: 500;
        font-size: 19px;
        margin-bottom: 5px;
    }

    &_accompagnement{
        font-weight: 100;
        font-size: 15px;
        direction: ltr;     
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_prix{
        font-weight: 500;
    }
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.check{
    position: relative;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    background-color: $color-third;
    width: 0px;
    transition: width 500ms;
}

.fa-check{
    position: relative;
    background-color: white;
    color: $color-third;
    border-radius: 50%;
    padding: 3px;
    font-weight: 900;
    opacity: 0;
    transform: rotate(90deg);
    transition: transform 500ms ease-in;
    top: 33%;
    left: 15px;
}


/* animation remplissage coeur*/

@keyframes fill {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 25px;
        opacity: 1;
    }
}


/*animation d'entrée des plats*/

@keyframes move {
    from{
        translate: 0px 10px;
    }
    to{
        translate: 0px 0px;
        opacity: 1;
    }
}


/* animation rotation check */

@keyframes appear{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}