* {
  box-sizing: border-box;
  font-family: "Roboto", "shrikhand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
}
header a {
  display: flex;
  justify-content: center;
  margin: 20px 0px 10px 0px;
}
header img {
  max-width: 44%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn__location {
  width: 100%;
  padding-left: 104px;
}
.btn--color {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  width: 220px;
  height: 50px;
  padding: 0px;
  border-radius: 25px;
  font-weight: 500;
}

.fa-location-dot {
  margin-right: 18px;
}

p {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  padding: 0px 50px 0px 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.top h1 {
  display: flex;
  font-weight: 700;
  font-size: x-large;
  margin: 40px 0px 20px 0px;
}
.top p {
  font-weight: 300;
  margin: 0px 0px 30px 0px;
}
.top a {
  text-decoration: none;
}

nav {
  height: auto;
  margin: 50px 20px 0px 20px;
}
nav p {
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 30px;
}
nav ol {
  padding-left: 10px;
  list-style-type: none;
}
nav li {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 75px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
}
nav li:hover {
  background-color: #f4eefc;
}
nav li:hover .fa-solid {
  color: #9356dc;
}
nav .list_number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  margin: 0px 22px 0px -10px;
}
nav .fa-solid {
  color: #7e7e7e;
  margin-right: 27px;
}

h2 {
  padding: 50px 0px 0px 20px;
  margin-bottom: 28px;
}

section {
  background-color: #f7f7f7;
  margin-top: 70px;
}
section a {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 280px;
  margin: 0px 20px 18px 20px;
  text-decoration: none;
  border-radius: 15px;
}
section .card {
  width: 100%;
  height: 280px;
}
section .card_new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  color: #278870;
  margin: 0px;
}
section .card_img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
section .card_text {
  display: flex;
  justify-content: space-evenly;
  color: black;
}
section .card .fa-heart {
  background-color: pink;
}
section .card .fa-heart:focus {
  color: red;
}

footer {
  background-color: black;
}
footer ul {
  list-style-type: none;
  margin: 25px 0px 37px 0px;
  padding-left: 22px;
}
footer ul li {
  padding-bottom: 5px;
}
footer ul li:nth-child(1) {
  color: white;
  font-family: shrikhand;
  padding-bottom: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}

.fa-utensils {
  font-size: 14px;
  margin-right: 10px;
}

.fa-handshake-angle {
  font-size: 12px;
  margin-right: 13px;
}/*# sourceMappingURL=style.css.map */