@import "./assets/scss/utils/variables.scss";
@import "./assets/scss/utils/_mixins.scss";


*{
    box-sizing: border-box;
    font-family: 'Roboto', 'shrikhand', sans-serif;
}

.container_spinner{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color:black;
    opacity: 1;
    animation: $animation_time linear forwards normal 2300ms disappear;
    z-index: 2;
}

.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color:white;
    color: black;
    border-radius: 35px;
    
    &_ohmyfood{
    padding: 5px 15px 0 55px ;
    font-family: 'shrikhand';
    font-size: 60px;
    min-width: 100%;

        @include desktop{
            padding: 5px 15px 0px 70px;
            font-size: 90px;
        }
    }
}

.o{
    font-family: 'shrikhand';
    position: absolute;
    left: 15px;
    animation: $animation_time linear forwards normal 300ms gradient, 1000ms linear infinite normal 800ms spinner;

        @include desktop{
            left: 10px;
        }
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
}

header{
    min-width: 100%;
    box-shadow: $color-border-box-shadow 0px 2px 5px 0px;
    z-index: 1;

    a{
        display: flex;
        justify-content: center;
        margin: 25px 0px 10px 0px;
        text-decoration: none;
    }
}

main{
    display: flex;
    flex-direction: column;

    @include tablette{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px
    }
}

.btn{
    @include flex_justify_align_center;
    border: none;

    @include tablette{
        grid-column: 1/3;
    }

    &__location{
        width: 100%;
        height: 50px;
    }

    &--color{
        background-image: linear-gradient(to bottom right, $color-second, $color-first);
        color: white;
        width: 220px;
        height: 50px;
        padding: 0px;
        border-radius: 25px;
        font-weight: 500;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;
        &:hover{
            background-image: none;
            background-color: lighten($color: $color-second, $amount: 2);
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;
        }
    }

    &_commander{
        margin: auto;
        width: 186px;

    }
}

.fa-location-dot{
    margin-right: 18px;
}

p{
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 290px;
    padding: 0px 50px 0px 40px;
    background-color: $color-fourth;
    text-align: center;

    @include tablette{
        min-height: none;
        justify-content: center;
        border-radius: 25px;
        margin: 0px 10px 0px 10px;
    }

    @include desktop{
        justify-content: center;
        align-self: center;
        margin-top: 10px;
        border-radius: 25px;
        min-width: 70%;
    }

    h1{
        font-weight: 700;
        font-size: x-large;
        margin: 40px 0px 20px 0px;

        @include tablette{
            margin-top: 0;
        }

        @include desktop{
            margin-top: 0;
        }
    }

    p{
        font-weight: 300;
        margin: 0px 0px 30px 0px;
    }

    a{
        text-decoration: none;
    }
}

aside{
    margin: 50px 20px 0px 20px;

    @include tablette{
        margin-top: 10px;
    }

    @include desktop{
        margin-top: 25px;
    }

    p{
        font-weight: 700;
        font-size: x-large;
        margin-bottom: 30px;
    }

    ol{
        padding-left: 10px;
        list-style-type: none;

        @include desktop{
            display: flex;
            justify-content: space-between;
        }
    }

    li{
        display: flex;
        align-items: center; 
        background-color:$color-fourth;
        height: 75px;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 20px;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;

        @include desktop{
            max-width: 30%;
        }

        &:hover{
            background-color: lighten($color-first, $amount: 36);
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;;

            .fa-solid{
                color: $color-first;
            }
        }
    }
        
    .list_numbers{
        @include flex_justify_align_center;
        background-color: $color-first;
        color: white;
        border-radius: 25px;
        width: 24px;
        height: 24px;
        margin: 0px 22px 0px -10px;
        padding-top: 4px;
        font-size: 14px;
        font-weight: 500;
    }


    .fa-solid{
        margin-right: 27px;
        font-size: 18px;
        color: $color-fifth;
    }
}

h2{
    padding: 50px 0px 0px 20px;
    margin-bottom: 28px;
    margin-top: 0px;

        @include tablette{
            padding-top: 20px;
            grid-column: 1/3;
            margin-bottom: 0;
        }

        @include desktop{
            padding-top: 20px;
            grid-column: 1/3;
            margin-bottom: 0;
        }

}

h3{
    margin: 0;
}

#restaurant{

    background-color:$color-fourth;
    margin-top: 50px;
    padding-bottom: 44px;

    @include tablette{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-column: 1/3;
        margin-top: 0;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }

    @include desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        grid-column: 1/3;
        margin-top: 0;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }

    a{
        display: flex;
        background-color:white;
        height: 250px;
        margin: 0px 20px 18px 20px;
        text-decoration: none;
        border-radius: 15px;
    }
}

.card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    box-shadow: $color-box-shadow 0px 4px 10px 2px;
    &:hover{
        box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;

    }

    &_new{
        @include flex_justify_align_center;
        position: relative;
        right: 11px;
        bottom: 202px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 2px;
        width: 80px;
        height: 30px;
        background-color: $color-third;
        color: darken($color-third, $amount: 40);
    }

    &_img{
        min-width: 100%;
        max-height: 70%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;

    }

    &_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: black;
        min-width: 100%;
        max-height: 30%;
    }

    &_restaurant{
        display: flex;
        width: 50%;
        margin-left: 14px;
        height: 25px;

        &-name{
            font-weight: 900;
            font-size: 18px;
            padding-top: 5px;
        }

        &-place{
            font-weight: 100;
            font-size: 17px;
        }
    }

    .fa-heart{
        position: relative;
        right: 25px;
        top: 8px;
        font-size: 25px;
        height: 25px;

        &:hover{
            @include background_clip;
            font-weight: 700;
            animation: 300ms ease-out forwards normal fill;            
        }
    }
}

footer{
    background-color: #353535;

    @include tablette{
        display: flex;
        justify-content: center;
    }

    ul{
        list-style-type: none;
        margin: 25px 0px 37px 0px;
        padding-left: 22px;


    @include tablette{
        padding-left: 0;
    }

    @include desktop{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }
    }

    li{
        padding-bottom: 0.5em;

        @include tablette{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include desktop{
            display: flex;
            justify-content: space-between;
            min-width: 25%;
        }



        &:nth-child(1){
            margin-bottom: 15px;

            @include desktop{
                min-width: 100%;
            }

            a{
                color: white;
                font-family: 'shrikhand';

                @include desktop{
                    min-width: 100%;
                    text-align: center;
                }
            }        
        }
    }

    a{
        text-decoration: none;
        color: white;


        @include desktop{
            min-width: 100%;
            text-align: center;
        }
    }
}

.fa-utensils{
    font-size: 14px;
    margin-right: 10px;
}

.fa-handshake-angle{
    font-size: 12px;
    margin-right: 13px;
}



/* scss pages restau */

.entree{
    margin-bottom: 30px;
}

.plats{
    margin-bottom: 47px;
}

.dessert{
    margin-bottom: 47px;
}


.menu{
    box-shadow: none;

    .fa-arrow-left{
        position: absolute;
        left: 23px;
        color: black;
        font-size: 20px;
    }

    &_img{
        object-fit: cover;
        min-width: 100%;
        max-height: 250px;
    }

    &_full{
        background-color: $color-fourth;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: 35px 12px 65px 14px;
        margin-top: -36px;
    }

    &_restaurant{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        h1{
            font-family: 'shrikhand';
            font-weight: 500;
            font-size: 28px;
            padding-left: 6px;
            margin: 0;
        }

        .fa-heart{
            font-size: 25px;
            height: 25px;
            margin-right: 20px;

    
            &:hover{
                @include background_clip;
                font-weight: 700;
                animation: 300ms ease-out forwards normal fill;            
            }
        }        
    }

    &_title{
        text-transform: uppercase;
        border-bottom: 3px solid $color-third;
        margin-left: 6px;
        margin-bottom: 14px;
        padding-bottom: 5px;
        width: 40px;
    }

    &_card{
        display: flex;
        justify-content: space-between;
        background-color:white;
        margin-bottom: 15px;
        border-radius: 15px;
        box-shadow: $color-box-shadow 0px 4px 10px 2px;
        animation: 1000ms ease-out forwards normal move;
        opacity: 0;

        &:hover{
            box-shadow: darken($color: $color-box-shadow, $amount: 10) 0px 4px 10px 2px;


            .check{
                width: 60px;

                & > .fa-check{
                    transform: rotate(360deg);
                    animation: $animation_time linear forwards normal appear;
                }
            }
        }

        &:nth-child(3){
            animation-delay: 200ms;
        }

        &:nth-child(4){
            animation-delay: 400ms;
        }
    }

    &_content{
        background-color:white;
        border-radius: 15px;
        padding: 13px 0px 10px 11px;
        @include overflow;
    }

    &_principal{
        font-weight: 500;;
        font-size: 19px;
        margin-bottom: 5px;
        @include overflow;

    }

    &_accompagnement{
        font-weight: 100;
        font-size: 15px;
        @include overflow;

    }

    &_prix{
        align-self: flex-end;
        font-weight: 500;
        padding: 0px 0px 10px 0px;
    }
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.test{
    display: flex;
    min-height: 100%;
}

.check{
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    width: 0px;
    margin-left: 24px;
    background-color: $color-third;
    transition: width $animation_time;
}

.fa-check{
    position: relative;
    background-color: white;
    color: $color-third;
    border-radius: 50%;
    padding: 3px;
    font-weight: 900;
    opacity: 0;
    transform: rotate(90deg);
    transition: transform $animation_time ease-in;
    top: 33%;
    left: 15px;
}


/* animation disparition loading screen spinner */

@keyframes disappear {
    0%{
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}


/* animation changement couleur spinner */

@keyframes gradient {
    0%{
    }
    100%{
        @include background_clip;
    }
}


/* animation rotation spinner */

@keyframes spinner {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}


/* animation remplissage coeur*/

@keyframes fill {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 25px;
        opacity: 1;
    }
}


/*animation d'entrée des plats*/

@keyframes move {
    from{
        transform: translate(0px, 10px);
    }
    to{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}


/* animation rotation check */

@keyframes appear{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}