/* mixins */

@mixin flex_justify_align_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background_clip {
    background-image: linear-gradient(to top right, $color-second, $color-first);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin overflow {
    direction: ltr;     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}


@mixin tablette {
    @media (min-width: map-get($breakpoint,tablette)) and (max-width: map-get($breakpoint,desktop)){
        @content;
    }
}

@mixin desktop {
    @media all and (min-width: map-get($breakpoint,desktop)){
        @content;
    }
}