header{
    min-width: 100%;
    box-shadow: $color-border-box-shadow 0px 2px 5px 0px;
    z-index: 1;

    a{
        display: flex;
        justify-content: center;
        margin: 25px 0px 10px 0px;
        text-decoration: none;
    }
}