* {
  box-sizing: border-box;
  font-family: "Roboto", "shrikhand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
}
header a {
  display: flex;
  justify-content: center;
  margin: 20px 0px 10px 0px;
}
header img {
  max-width: 44%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.btn__location {
  width: 100%;
  height: 50px;
  box-shadow: inset #c4c4c4 0px 2px 3px 0px;
}
.btn--color {
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  width: 220px;
  height: 50px;
  padding: 0px;
  border-radius: 25px;
  font-weight: 500;
}

.fa-location-dot {
  margin-right: 18px;
}

p {
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  padding: 0px 50px 0px 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.top h1 {
  display: flex;
  font-weight: 700;
  font-size: x-large;
  margin: 40px 0px 20px 0px;
}
.top p {
  font-weight: 300;
  margin: 0px 0px 30px 0px;
}
.top a {
  text-decoration: none;
}

aside {
  margin: 50px 20px 0px 20px;
}
aside p {
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 30px;
}
aside ol {
  padding-left: 10px;
  list-style-type: none;
}
aside li {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  height: 75px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: #dedede 0px 4px 10px 2px;
}
aside li:hover {
  background-color: #f4eefc;
}
aside li:hover .fa-solid {
  color: #9356dc;
}
aside .list_numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  margin: 0px 22px 0px -10px;
  padding-top: 4px;
  font-size: 14px;
  font-weight: 500;
}
aside .fa-solid {
  margin-right: 27px;
  font-size: 18px;
  color: #919191;
}

h2 {
  padding: 50px 0px 0px 20px;
  margin-bottom: 28px;
}

section {
  background-color: #f7f7f7;
  margin-top: 70px;
  padding-bottom: 44px;
}
section a {
  display: flex;
  background-color: white;
  height: 250px;
  margin: 0px 20px 18px 20px;
  text-decoration: none;
  border-radius: 15px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
}
.card_new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 11px;
  bottom: 202px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  color: #278870;
}
.card_img {
  min-width: 100%;
  max-height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.card_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  min-width: 100%;
  max-height: 30%;
}
.card_restaurant {
  display: flex;
  width: 50%;
  margin-left: 14px;
  height: 25px;
}
.card_restaurant-name {
  font-weight: 900;
  font-size: 18px;
  padding-top: 5px;
}
.card_restaurant-place {
  font-weight: 100;
  font-size: 17px;
}
.card .fa-heart {
  position: relative;
  right: 25px;
  top: 8px;
  font-size: 25px;
  height: 25px;
}
.card .fa-heart:hover {
  background-image: linear-gradient(to top right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  -webkit-animation: 300ms ease-out forwards normal fill;
          animation: 300ms ease-out forwards normal fill;
}
@-webkit-keyframes fill {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 25px;
    opacity: 1;
  }
}
@keyframes fill {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 25px;
    opacity: 1;
  }
}

footer {
  background-color: #353535;
}
footer ul {
  list-style-type: none;
  margin: 25px 0px 37px 0px;
  padding-left: 22px;
}
footer li {
  padding-bottom: 0.5em;
}
footer li:nth-child(1) {
  margin-bottom: 15px;
}
footer li:nth-child(1) a {
  color: white;
  font-family: shrikhand;
}
footer a {
  text-decoration: none;
  color: white;
}

.fa-utensils {
  font-size: 14px;
  margin-right: 10px;
}

.fa-handshake-angle {
  font-size: 12px;
  margin-right: 13px;
}/*# sourceMappingURL=style.css.map */